@import '../../assets/styles/animations.scss';
$animation-time: 0.4s;
.Preview {
    width: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    > .Wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        > .ImageWrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            overflow: hidden;
            @include background-zoom-out($animation-time);
            &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        > .TextWrapper {
            padding: 10% 5%;
            position: absolute;
            @include slide-out-top($animation-time);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &:hover {
            > .ImageWrapper {
                @include background-zoom-in($animation-time);
                &:before {
                    background-color: rgba(58, 57, 57, 0.6);
                    @include transition-all($animation-time);
                }
            }
            > .TextWrapper {
                @include slide-in-top($animation-time);
                display: block;
            }
        }
    }
}