.Home-page {
    > .Header {
        width: 100%;
    }
    > .Header > .subtitle {
        margin-left: 25%;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    > .Projects {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        >.Preview {
            width: 33.333333333%;
            padding-bottom:  20%;
        }
    }
    > .Carreer {
        width: 100%;
    }
}